* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

header .header-top {
  background: #00796b;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 8px 250px;
}
header .ht-left ul {
  display: flex;
  gap: 10px;
}
header .ht-left ul li i {
  color: #fff;
}
header .ht-left ul li a {
  color: #fff;
}
header .ht-left ul li .mailto:hover {
  text-decoration: underline;
}
header .ht-right ul {
  display: flex;
  gap: 10px;
}
header .ht-right ul li a {
  color: rgba(255, 255, 255, 0.7);
}
header .ht-right ul li:hover a {
  color: #fff;
}
header .header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #008374;
  height: 70px;
  padding: 15px 250px;
}
header .header-main .header-logo h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #fff;
}
header .header-main .header-logo h1 span {
  color: #f96f59;
}
header .header-main .navbar-ul {
  display: flex;
  gap: 35px;
  padding-top: 30px;
}
header .header-main .navbar-ul .nav-item .nav-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}
header .header-main .navbar-ul .nav-item .nav-link::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #f85a40;
  visibility: hidden;
  width: 0;
  transition: all 0.3s ease-in-out 0s;
}
header .header-main .navbar-ul .nav-item .nav-link:hover {
  color: #fff;
}
header .header-main .navbar-ul .nav-item .nav-link:hover::before {
  visibility: visible;
  width: 100%;
}
header .header-main .navbar-ul .nav-item .active-link {
  color: #fff;
}
header .header-main .navbar-ul .nav-item .active-link::before {
  visibility: visible;
  width: 100%;
}

.dropdown {
  height: 50px;
}
.dropdown .dropdown-menu {
  margin-top: 0;
  visibility: hidden;
}
.dropdown .dropdown-menu li {
  height: 35px;
}
.dropdown .dropdown-menu li a {
  color: #008374;
  font-weight: 600;
}
.dropdown .dropdown-menu li a:hover {
  color: #f85a40;
}
.dropdown .dropdown-menu li:nth-child(2) a {
  padding-top: 3px;
}

.dropdown-toggle {
  height: 30px;
}

.nav-item:hover .dropdown-menu {
  top: 40px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.deep-nav-item .nav-link {
  color: #008374 !important;
}
.deep-nav-item .nav-link:hover {
  color: #f85a40 !important;
}
.deep-nav-item:hover .deep-dropdown-menu {
  left: 60px;
  visibility: visible;
  pointer-events: auto;
}

.deep-dropdown-menu {
  display: block;
  background-color: white;
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 30px 0px 15px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease;
  margin-left: 80px;
}

.dropdown-menu {
  display: block;
  padding: 10px 30px 10px 15px;
  position: absolute;
  top: 70px;
  left: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;
}
.dropdown-menu li .dropdown-item {
  color: #008374;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #008374;
  padding: 50px 250px;
  height: 600px;
}
.header-content .header-content-info {
  display: flex;
  position: absolute;
}
.header-content .header-content-info .header-content-left {
  padding-bottom: 190px;
}
.header-content .header-content-info .header-content-left i {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: auto;
  transition: 0.3s;
}
.header-content .header-content-info .header-content-left p {
  width: 636px;
}
.header-content .header-content-info .header-content-left .header-buttons {
  display: flex;
  gap: 20px;
}
.header-content .header-content-info .header-content-left .header-buttons .header-watch-video {
  display: flex;
  align-items: center;
}
.header-content .header-content-info .header-content-left .header-buttons .header-watch-video:hover i {
  color: #fff;
}
.header-content .header-content-info .header-content-left .header-buttons .header-watch-video span {
  padding-bottom: 5px;
  padding-left: 5px;
}
.header-content .header-content-info h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}
.header-content .header-content-info p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin-bottom: 30px;
}
.header-content .header-content-info img {
  position: absolute;
  top: -80px;
  left: 820px;
}

.header-content-button {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 13px 45px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s ease;
  color: #fff;
}
.header-content-button:hover {
  border: 2px solid #fff;
}

.header-icon-content {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-left: 190px;
}
.header-icon-content .header-content-item {
  position: relative;
  top: 290px;
  right: 200px;
  width: 330px;
  height: 241px;
  padding: 60px 60px;
  background-color: #008d7d;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
.header-icon-content .header-content-item:hover {
  background-color: #029786;
}
.header-icon-content .header-content-item:hover i {
  color: #fff;
}
.header-icon-content .header-content-item i {
  display: block;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
  transition: 0.3s;
}
.header-icon-content .header-content-item a {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}

.about-container {
  padding: 50px 250px;
}
.about-container .about-content .about-header {
  padding-top: 150px;
  text-align: center;
}
.about-container .about-content .about-header h2 {
  position: relative;
}
.about-container .about-content .about-header h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #008374;
  left: 0;
  right: 0;
  bottom: 0;
  top: 55px;
  margin: auto;
}
.about-container .about-content .about-header p {
  padding-top: 25px;
}
.about-container .about-content .about-body {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.about-container .about-content .about-body .about-left {
  width: 50%;
}
.about-container .about-content .about-body .about-left img {
  width: 636px;
  height: 477px;
  border-radius: 10px;
}
.about-container .about-content .about-body .about-left p {
  width: 90%;
  padding-top: 15px;
}
.about-container .about-content .about-body .about-right {
  width: 50%;
}
.about-container .about-content .about-body .about-right img {
  width: 588px;
  height: 441px;
  border-radius: 10px;
}
.about-container .about-content .about-body .about-right ul li {
  display: flex;
  align-items: start;
  gap: 10px;
}
.about-container .about-content .about-body .about-right ul li i {
  color: #008374;
  font-size: 20px;
  position: relative;
  top: -2px;
}
.about-container .about-content .about-body .about-right p {
  width: 80%;
}
.about-container .about-content .about-body .about-right p:first-of-type {
  font-style: italic;
}

.clients-contaier {
  padding: 50px 250px 50px 250px;
}
.clients-contaier .clients-content {
  display: flex;
  justify-content: space-between;
}
.clients-contaier .clients-content .clients-item img {
  width: 116px;
  height: 41px;
  transition: 0.5s;
}
.clients-contaier .clients-content .clients-item:hover img {
  transform: scale(1.2);
  transition: 0.5s;
}

.stats-container {
  padding: 50px 250px;
}
.stats-container .stats-content {
  display: flex;
}
.stats-container .stats-content .stats-right .stats-info {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
}
.stats-container .stats-content .stats-right .stats-info span {
  font-size: 40px;
  display: block;
  font-weight: 700;
  color: #008374;
  line-height: 40px;
  padding-right: 15px;
}

.video-container {
  padding: 50px 250px;
}
.video-container .video-content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cta-bg.jpg) center center;
  background-size: cover;
  padding: 100px 60px;
  border-radius: 15px;
  height: 513px;
  text-align: center;
}
.video-container .video-content a i {
  color: #fff;
  font-size: 64px;
}
.video-container .video-content h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.video-container .video-content p {
  color: #fff;
  margin-bottom: 20px;
}
.video-container .video-content .video-button {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 48px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.video-container .video-content .video-button:hover {
  background: #008374;
  border: 2px solid #008374;
}

.services-container {
  padding: 50px 250px;
  background-color: #f6f6f6;
}
.services-container .services-content .services-header {
  text-align: center;
}
.services-container .services-content .services-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services-container .services-content .services-body .services-item {
  padding: 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  position: relative;
  height: 347px;
  width: 450px;
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
}
.services-container .services-content .services-body .services-item i {
  font-size: 56px;
}
.services-container .services-content .services-body .services-item i::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  border-radius: 50%;
  left: 60px;
  top: 45px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0.5;
}
.services-container .services-content .services-body .services-item:hover i::after {
  background-color: #00b6a1;
}
.services-container .services-content .services-body .services-item:hover h3::after {
  background-color: #00b6a1;
}
.services-container .services-content .services-body .services-item h3 {
  font-size: 22px;
  margin: 20px 0;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.services-container .services-content .services-body .services-item h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  background-color: #eeeeee;
  width: 100%;
  height: 4px;
  transition: 0.3s;
}
.services-container .services-content .services-body .services-item p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.services-container .services-content .services-body .services-item a {
  display: inline-block;
  margin-top: 15px;
  color: #008374;
}
.services-container .services-content .services-body .services-item a i {
  font-size: 16px;
}

.feedbacks-container {
  padding: 50px 250px;
}
.feedbacks-container .feedbacks-content .feedbacks-header {
  text-align: center;
}
.feedbacks-container .feedbacks-content .feedbacks-header h2 {
  position: relative;
}
.feedbacks-container .feedbacks-content .feedbacks-header h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #008374;
  left: 0;
  right: 0;
  bottom: 0;
  top: 55px;
  margin: auto;
}
.feedbacks-container .feedbacks-content .feedbacks-header p {
  padding-top: 25px;
}
.feedbacks-container .feedbacks-info {
  display: flex;
  justify-content: space-between;
}
.feedbacks-container .feedbacks-info .feedback-item {
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 402px;
  height: 316px;
  border-radius: 15px;
}
.feedbacks-container .feedbacks-info .feedback-item .feedback-card {
  background: none;
  gap: 20px;
  margin-bottom: 20px;
  display: flex;
}
.feedbacks-container .feedbacks-info .feedback-item .feedback-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.feedbacks-container .feedbacks-info .feedback-item .feedback-card .feedback-description .feedback-title {
  font-size: 18px;
  font-weight: bold;
}
.feedbacks-container .feedbacks-info .feedback-item .feedback-card .feedback-description .feedback-subtitle {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}
.feedbacks-container .feedbacks-info .feedback-item .feedback-card .feedback-description .stars i {
  color: #ffc107;
}

.feedback-text .fst-italic .quote-icon-left {
  display: inline-block;
  position: relative;
  font-size: 26px;
  color: #009d8b;
}
.feedback-text .fst-italic .quote-icon-right {
  display: inline-block;
  position: relative;
  font-size: 26px;
  color: #009d8b;
  transform: rotate(-180deg);
}

.portfolio-container {
  padding: 50px 250px;
  background-color: #f6f6f6;
}
.portfolio-container .portfolio-content .portfolio-header {
  text-align: center;
}
.portfolio-container .portfolio-content .portfolio-header h2 {
  position: relative;
}
.portfolio-container .portfolio-content .portfolio-header h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #008374;
  left: 0;
  right: 0;
  bottom: 0;
  top: 55px;
  margin: auto;
}
.portfolio-container .portfolio-content .portfolio-header p {
  padding-top: 25px;
}
.portfolio-container .portfolio-content .portfolio-category ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.portfolio-container .portfolio-content .portfolio-category ul li {
  color: #222222;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 10px;
  cursor: pointer;
  transition: 0.3s;
}
.portfolio-container .portfolio-content .portfolio-category ul li:hover {
  color: #008374;
}
.portfolio-container .portfolio-content .portfolio-category ul .active-category {
  color: #008374;
}
.portfolio-container .portfolio-content .portfolio-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio-container .portfolio-content .portfolio-items .portfolio-card {
  border: 0;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 20px;
}
.portfolio-container .portfolio-content .portfolio-items .portfolio-card .pc-image {
  overflow: hidden;
}
.portfolio-container .portfolio-content .portfolio-items .portfolio-card .pc-image img {
  width: 453px;
  height: 325px;
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio-container .portfolio-content .portfolio-items .portfolio-card .pc-image:hover img {
  transform: scale(1.1);
  overflow: hidden;
}
.portfolio-container .portfolio-content .portfolio-items .portfolio-card .pc-body {
  height: 90px;
  padding: 20px;
}
.portfolio-container .portfolio-content .portfolio-items .portfolio-card .pc-body a {
  color: #222222;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
  transition: 0.3s;
}
.portfolio-container .portfolio-content .portfolio-items .portfolio-card .pc-body a:hover {
  color: #008374;
}
.portfolio-container .portfolio-content .portfolio-items .portfolio-card .pc-body p {
  margin: 0;
  font-size: 14px;
  color: #777;
}

.team-container {
  padding: 50px 250px;
}
.team-container .team-content .team-header {
  text-align: center;
}
.team-container .team-content .team-header h2 {
  position: relative;
}
.team-container .team-content .team-header h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #008374;
  left: 0;
  right: 0;
  bottom: 0;
  top: 55px;
  margin: auto;
}
.team-container .team-content .team-header p {
  padding-top: 25px;
}
.team-container .team-content .team-items {
  display: flex;
  justify-content: space-between;
}
.team-container .team-content .team-items .team-card {
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.team-container .team-content .team-items .team-card .team-image img {
  width: 276px;
  height: 276px;
  border-radius: 10px;
}
.team-container .team-content .team-items .team-card .team-info h4 {
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 2px;
  font-size: 20px;
}
.team-container .team-content .team-items .team-card .team-info span {
  font-size: 14px;
  font-style: italic;
  display: block;
  color: #6c757d;
}
.team-container .team-content .team-items .team-card .team-info ul {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}
.team-container .team-content .team-items .team-card .team-info ul li a {
  display: block;
  color: #a2a2a2;
  font-size: 20px;
  border: 1px solid #a2a2a2;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s;
}
.team-container .team-content .team-items .team-card .team-info ul li a:hover {
  color: #008374;
  border-color: #008374;
}

.pricing-container {
  padding: 50px 250px;
  background-color: #f6f6f6;
}
.pricing-container .pricing-content .pricing-header {
  text-align: center;
}
.pricing-container .pricing-content .pricing-header h2 {
  position: relative;
}
.pricing-container .pricing-content .pricing-header h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #008374;
  left: 0;
  right: 0;
  bottom: 0;
  top: 55px;
  margin: auto;
}
.pricing-container .pricing-content .pricing-header p {
  padding-top: 25px;
}
.pricing-container .pricing-content .pricing-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-container .pricing-content .pricing-items .pricing-card {
  width: 464px;
  height: 650px;
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
  background: #fff;
  position: relative;
  border-radius: 15px;
}
.pricing-container .pricing-content .pricing-items .pricing-card .pricing-top {
  text-align: center;
}
.pricing-container .pricing-content .pricing-items .pricing-card .pricing-top h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
  color: #555555;
}
.pricing-container .pricing-content .pricing-items .pricing-card .pricing-top .pricing-icon {
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 20px;
}
.pricing-container .pricing-content .pricing-items .pricing-card .pricing-top .pricing-icon i {
  font-size: 28px;
  background-color: #008374;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  padding: 15px 20px;
  color: #fff;
}
.pricing-container .pricing-content .pricing-items .pricing-card .pricing-top .pricing-price h4 {
  margin: 0 auto;
  font-size: 48px;
  color: #f85a40;
  width: -moz-fit-content;
  width: fit-content;
}
.pricing-container .pricing-content .pricing-items .pricing-card .pricing-top .pricing-price h4 span {
  font-size: 18px;
  color: rgba(108, 117, 125, 0.8);
}
.pricing-container .pricing-content .pricing-items .featured {
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
  background: #fff;
  height: 750px;
  width: 528px;
  position: relative;
  border-radius: 15px;
  z-index: 10;
  border: 3px solid #008374;
}
.pricing-container .pricing-content .pricing-items .featured .pricing-bottom button {
  padding-top: 40px;
}
.pricing-container .pricing-content .pricing-items .pricing-body {
  padding-top: 25px;
}
.pricing-container .pricing-content .pricing-items .pricing-body ul {
  line-height: 20px;
}
.pricing-container .pricing-content .pricing-items .pricing-body ul li {
  display: flex;
  padding: 10px 0;
}
.pricing-container .pricing-content .pricing-items .pricing-body ul li i {
  color: #059652;
  font-size: 24px;
}
.pricing-container .pricing-content .pricing-items .pricing-body ul li .bi-x {
  color: rgba(108, 117, 125, 0.5019607843);
}
.pricing-container .pricing-content .pricing-items .pricing-body ul li p {
  font-size: 18px;
  color: rgba(108, 117, 125, 0.8);
}
.pricing-container .pricing-content .pricing-items .pricing-body ul li p del {
  color: rgba(108, 117, 125, 0.5019607843);
}
.pricing-container .pricing-content .pricing-items .pricing-bottom {
  text-align: center;
}
.pricing-container .pricing-content .pricing-items .pricing-bottom button {
  border: none;
  background-color: transparent;
}
.pricing-container .pricing-content .pricing-items .pricing-bottom button a {
  border: 1px solid rgba(0, 131, 116, 0.2);
  color: #008374;
  padding: 10px 40px;
  border-radius: 50px;
  transition: 0.3s;
}
.pricing-container .pricing-content .pricing-items .pricing-bottom button a:hover {
  background-color: #008374;
  border-color: #008374;
  color: #fff;
}

.pricing .card .card-footer button {
  margin-left: calc(50% - 76.5px);
}

.pricing .card .card-footer button a {
  border: 1px solid rgba(0, 131, 116, 0.2);
  color: var(--color-primary);
  padding: 10px 40px;
  border-radius: 50px;
  transition: var(--transition);
}

.pricing .card .card-footer button a:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.faq-container {
  padding: 50px 250px;
}
.faq-container .faq-content {
  display: flex;
  justify-content: space-between;
}
.faq-container .faq-content .faq-left {
  width: 25%;
  height: 179px;
}
.faq-container .faq-content .faq-left p {
  font-size: 15px;
  color: #6c757d;
}
.faq-container .faq-content .faq-right {
  width: 70%;
}

.accordion button {
  padding: 20px 50px 20px 20px;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  line-height: 24px;
  color: #222222;
  text-align: left;
  background: #fff;
  box-shadow: none;
}
.accordion .accordion-item {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.06);
  margin-top: 10px;
}
.accordion .accordion-item h2 button span {
  font-size: 20px;
  color: #008374;
  padding-right: 10px;
}
.accordion .accordion-item .accordion-body {
  padding: 0 40px 30px 45px;
}

.blog-container {
  padding: 50px 250px;
  background-color: #f6f6f6;
}
.blog-container .blog-header {
  text-align: center;
}
.blog-container .blog-header h2 {
  position: relative;
}
.blog-container .blog-header h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #008374;
  left: 0;
  right: 0;
  bottom: 0;
  top: 55px;
  margin: auto;
}
.blog-container .blog-header p {
  padding-top: 25px;
}
.blog-container .blog-content .blog-items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 30px 0;
}
.blog-container .blog-content .blog-items .blog-card {
  border-radius: 10px;
  width: 33%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}
.blog-container .blog-content .blog-items .blog-card img {
  width: 100%;
  height: 312px;
}
.blog-container .blog-content .blog-items .blog-card h4 {
  font-size: 16px;
  color: #6f6f6f;
}
.blog-container .blog-content .blog-items .blog-card h3 a {
  font-size: 22px;
  color: #222222;
  transition: 0.3s;
}
.blog-container .blog-content .blog-items .blog-card h3 a:hover {
  color: #008374;
}
.blog-container .blog-content .blog-items .blog-card .blog-head {
  padding: 10px;
}
.blog-container .blog-content .blog-items .blog-card .blog-info {
  display: flex;
  gap: 15px;
}
.blog-container .blog-content .blog-items .blog-card .blog-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.blog-container .blog-content .blog-items .blog-card .blog-info .blog-more h5 {
  margin-bottom: 2px;
}
.blog-container .blog-content .blog-items .blog-card .blog-info .blog-more span {
  font-size: 14px;
}

.blog-body {
  padding: 15px 30px 30px;
}

.contact-container {
  padding: 50px 250px;
}
.contact-container .contact-content .contant-header {
  text-align: center;
}
.contact-container .contact-content .contant-header h2 {
  position: relative;
}
.contact-container .contact-content .contant-header h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #008374;
  left: 0;
  right: 0;
  bottom: 0;
  top: 55px;
  margin: auto;
}
.contact-container .contact-content .contant-header p {
  padding-top: 25px;
}
.contact-container .contact-content .contact-body {
  padding-top: 40px;
  display: flex;
}
.contact-container .contact-content .contact-body .contact-left {
  width: 35%;
  background-color: #008374;
  padding: 20px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0 0 10px;
}
.contact-container .contact-content .contact-body .contact-left .cl-item {
  display: flex;
  width: 100%;
  background-color: #009282;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}
.contact-container .contact-content .contact-body .contact-left .cl-item:last-child {
  margin-bottom: 0;
}
.contact-container .contact-content .contact-body .contact-left .cl-item i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}
.contact-container .contact-content .contact-body .contact-left .cl-item:hover i {
  background-color: #fff;
  color: #008374;
}
.contact-container .contact-content .contact-body .contact-left .cl-item .contact-info h4 {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.contact-container .contact-content .contact-body .contact-left .cl-item .contact-info p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact-rigt {
  width: 60%;
}
.contact-rigt form {
  padding: 30px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  border-radius: 0 10px 10px 0;
}
.contact-rigt form input {
  padding: 12px 15px;
  font-size: 14px;
}
.contact-rigt form textarea {
  padding: 12px 15px;
  font-size: 14px;
  height: 180px;
}
.contact-rigt form .btn {
  padding: 14px 45px;
  border-radius: 40px;
  background-color: #008374;
  transition: 0.3s;
}
.contact-rigt form .btn:hover {
  background-color: rgba(0, 131, 116, 0.8);
}

footer {
  padding: 50px 250px;
  background-color: #008374;
  color: white;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
}
footer .footer-content .box-1 {
  width: 40%;
  margin-bottom: 30px;
}
footer .footer-content .box-1 h2 {
  font-size: 30px;
}
footer .footer-content .box-1 p {
  font-size: 14px;
  line-height: 1.5;
}
footer .footer-content .box-1 .footer-socmedia {
  display: flex;
}
footer .footer-content .box-1 .footer-socmedia li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}
footer .footer-content .box-1 .footer-socmedia li a:hover {
  color: #fff;
  border: 1px solid #fff;
}
footer .footer-content .box-2 {
  width: 16%;
  font-size: 16px;
  margin-bottom: 30px;
}
footer .footer-content .box-2 ul li a {
  color: rgba(255, 255, 255, 0.7);
  padding: 6px 0;
  transition: 0.3s;
}
footer .footer-content .box-2 ul li a:hover {
  color: #fff;
}
footer .footer-content .box-3 {
  width: 16%;
  font-size: 16px;
}
footer .footer-content .box-3 ul li a {
  color: rgba(255, 255, 255, 0.7);
  padding: 6px 0;
  transition: 0.3s;
}
footer .footer-content .box-3 ul li a:hover {
  color: #fff;
}
footer .footer-content .box-4 {
  width: 28%;
  font-size: 16px;
}
footer .footer-bottom {
  text-align: center;
}
footer .footer-bottom p {
  margin-bottom: 3px;
}
footer .footer-bottom p:last-of-type {
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */